<a class="setting-item" routerLink="email-notification"
  ><span class="setting-label">邮箱通知</span
  ><span class="setting-control"> <i nz-icon nzType="right"></i> </span
></a>
<a class="setting-item" routerLink="serverchan-notification"
  ><span class="setting-label">ServerChan 通知</span
  ><span class="setting-control"><i nz-icon nzType="right"></i></span
></a>
<a class="setting-item" routerLink="pushplus-notification"
  ><span class="setting-label">pushplus 通知</span
  ><span class="setting-control"><i nz-icon nzType="right"></i></span
></a>
