/* You can add global styles to this file, and also import other style files */
@media screen and (min-width: 768px) {
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background: #c1c1c1;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8;
  }
}
