<form nz-form [formGroup]="settingsForm">
  <nz-form-item
    class="setting-item actionable"
    (click)="baseApiUrlsEditDialog.open()"
  >
    <nz-form-label class="setting-label" [nzTooltipTitle]="baseApiUrlsTip"
      >主站 API 主机地址</nz-form-label
    >
    <ng-template #baseApiUrlsTip>
      <p>设置内容：发送主站 API 请求所用的主机的地址，一行一个。</p>
      <p>请求方式：先用第一个发送请求，出错就用第二个，以此类推。</p>
      <p>主要目的：缓解请求过多被风控</p>
    </ng-template>
    <nz-form-control
      [nzWarningTip]="syncFailedWarningTip"
      [nzValidateStatus]="
        syncStatus.baseApiUrls ? baseApiUrlsControl : 'warning'
      "
    >
      <nz-form-text class="setting-value"
        >{{ baseApiUrlsControl.value }}
      </nz-form-text>
      <app-base-api-url-edit-dialog
        #baseApiUrlsEditDialog
        [value]="baseApiUrlsControl.value"
        (confirm)="baseApiUrlsControl.setValue($event)"
      ></app-base-api-url-edit-dialog>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item
    class="setting-item actionable"
    (click)="baseLiveApiUrlsEditDialog.open()"
  >
    <nz-form-label class="setting-label" [nzTooltipTitle]="baseLiveApiUrlsTip"
      >直播 API 主机地址</nz-form-label
    >
    <ng-template #baseLiveApiUrlsTip>
      <p>
        设置内容：发送直播 API (直播流 API getRoomPlayInfo 除外)
        请求所用的主机的地址，一行一个。
      </p>
      <p>请求方式：先用第一个发送请求，出错就用第二个，以此类推。</p>
      <p>主要目的：缓解请求过多被风控</p>
    </ng-template>
    <nz-form-control
      [nzWarningTip]="syncFailedWarningTip"
      [nzValidateStatus]="
        syncStatus.baseLiveApiUrls ? baseLiveApiUrlsControl : 'warning'
      "
    >
      <nz-form-text class="setting-value"
        >{{ baseLiveApiUrlsControl.value }}
      </nz-form-text>
      <app-base-live-api-url-edit-dialog
        #baseLiveApiUrlsEditDialog
        [value]="baseLiveApiUrlsControl.value"
        (confirm)="baseLiveApiUrlsControl.setValue($event)"
      ></app-base-live-api-url-edit-dialog>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item
    class="setting-item actionable"
    (click)="basePlayInfoApiUrlsEditDialog.open()"
  >
    <nz-form-label
      class="setting-label"
      [nzTooltipTitle]="basePalyInfoApiUrlTip"
      >直播流 API 主机地址</nz-form-label
    >
    <ng-template #basePalyInfoApiUrlTip>
      <p>
        设置内容：发送直播流 API (getRoomPlayInfo)
        请求所用的主机的地址，一行一个。
      </p>
      <p>
        请求方式：同时并发向全部 API
        主机发送请求（从全部成功的请求结果中提取直播流质量较好的直播流地址）
      </p>
      <p>主要目的：改变录制的直播流的 CDN</p>
      <p>
        P.S：国外 IP 的请求结果没有 HLS(fmp4) 流，要同时支持 fmp4 和 flv
        可以混用国内和国外的 API 主机。
      </p>
    </ng-template>
    <nz-form-control
      [nzWarningTip]="syncFailedWarningTip"
      [nzValidateStatus]="
        syncStatus.basePlayInfoApiUrls ? basePlayInfoApiUrlsControl : 'warning'
      "
    >
      <nz-form-text class="setting-value"
        >{{ basePlayInfoApiUrlsControl.value }}
      </nz-form-text>
      <app-base-play-info-api-url-edit-dialog
        #basePlayInfoApiUrlsEditDialog
        [value]="basePlayInfoApiUrlsControl.value"
        (confirm)="basePlayInfoApiUrlsControl.setValue($event)"
      ></app-base-play-info-api-url-edit-dialog>
    </nz-form-control>
  </nz-form-item>
</form>
