<form nz-form [formGroup]="settingsForm">
  <nz-form-item class="setting-item">
    <nz-form-label
      class="setting-label"
      nzNoColon
      [nzTooltipTitle]="streamFormatTip"
      >直播流格式</nz-form-label
    >
    <ng-template #streamFormatTip>
      <p>
        选择要录制的直播流格式<br />
        <br />
        FLV 网络不稳定容易中断丢失数据 <br />
        HLS (ts) 基本不受本地网络影响 <br />
        HLS (fmp4) 只有少数直播间支持 <br />
        <br />
        P.S.<br />
        非 FLV 格式需要 ffmpeg<br />
        HLS (fmp4) 不支持会自动切换到 HLS (ts)<br />
      </p>
    </ng-template>
    <nz-form-control
      class="setting-control select"
      [nzWarningTip]="syncFailedWarningTip"
      [nzValidateStatus]="
        syncStatus.streamFormat ? streamFormatControl : 'warning'
      "
    >
      <nz-select
        formControlName="streamFormat"
        [nzOptions]="streamFormatOptions"
      >
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item class="setting-item">
    <nz-form-label
      class="setting-label"
      nzNoColon
      nzTooltipTitle="所选画质不存在将以原画代替"
      >画质</nz-form-label
    >
    <nz-form-control
      class="setting-control select"
      [nzWarningTip]="syncFailedWarningTip"
      [nzValidateStatus]="
        syncStatus.qualityNumber ? qualityNumberControl : 'warning'
      "
    >
      <nz-select formControlName="qualityNumber" [nzOptions]="qualityOptions">
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item class="setting-item" appSwitchActionable>
    <nz-form-label
      class="setting-label"
      nzNoColon
      nzTooltipTitle="录播文件完成时保存当前直播间的封面"
      >保存封面</nz-form-label
    >
    <nz-form-control
      class="setting-control switch"
      [nzWarningTip]="syncFailedWarningTip"
      [nzValidateStatus]="syncStatus.saveCover ? saveCoverControl : 'warning'"
    >
      <nz-switch formControlName="saveCover"></nz-switch>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item class="setting-item">
    <nz-form-label
      class="setting-label"
      nzNoColon
      nzTooltipTitle="超时时间设置得比较长相对不容易因网络不稳定而出现流中断，但是一旦出现中断就无法实现无缝拼接且漏录较多。"
      >数据读取超时</nz-form-label
    >
    <nz-form-control
      class="setting-control select"
      [nzWarningTip]="
        syncStatus.readTimeout ? '无缝拼接会失效！' : syncFailedWarningTip
      "
      [nzValidateStatus]="
        syncStatus.readTimeout && readTimeoutControl.value <= 3
          ? readTimeoutControl
          : 'warning'
      "
    >
      <nz-select formControlName="readTimeout" [nzOptions]="timeoutOptions">
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item class="setting-item">
    <nz-form-label
      class="setting-label"
      nzNoColon
      nzTooltipTitle="断网超过等待时间就结束录制，如果网络恢复后仍未下播会自动重新开始录制。"
      >断网等待时间</nz-form-label
    >
    <nz-form-control
      class="setting-control select"
      [nzWarningTip]="syncFailedWarningTip"
      [nzValidateStatus]="
        syncStatus.disconnectionTimeout
          ? disconnectionTimeoutControl
          : 'warning'
      "
    >
      <nz-select
        formControlName="disconnectionTimeout"
        [nzOptions]="disconnectionTimeoutOptions"
      >
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item class="setting-item">
    <nz-form-label
      class="setting-label"
      nzNoColon
      nzTooltipTitle="硬盘写入缓冲设置得比较大可以减少对硬盘的写入，但需要占用更多的内存。"
      >硬盘写入缓冲</nz-form-label
    >
    <nz-form-control
      class="setting-control select"
      [nzWarningTip]="syncFailedWarningTip"
      [nzValidateStatus]="syncStatus.bufferSize ? bufferSizeControl : 'warning'"
    >
      <nz-select formControlName="bufferSize" [nzOptions]="bufferOptions">
      </nz-select>
    </nz-form-control>
  </nz-form-item>
</form>
