:host {
  display: flex;
  flex-direction: column;
}

.header {
  .title {
    color: #202124;
    font-size: 108%;
    font-weight: 400;
    letter-spacing: 0.25px;
    margin-bottom: 1em;
    margin-top: 1.5em;
  }
}

.card {
  flex: 1;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
