<ul class="info-list">
  <li class="info-item">
    <span class="label">当前版本</span
    ><span class="desc">{{ appInfo.version }}</span>
  </li>
  <li class="info-item">
    <span class="label">最新版本</span
    ><span class="desc">{{ latestVesion$ | async }}</span>
  </li>
  <li class="info-item">
    <span class="label">项目主页</span
    ><span class="desc"
      ><a href="https://github.com/acgnhiki/blrec" target="_blank"
        >https://github.com/acgnhiki/blrec</a
      ></span
    >
  </li>
  <li class="info-item">
    <span class="label">问题反馈</span
    ><span class="desc"
      ><a href="https://github.com/acgnhiki/blrec/issues" target="_blank"
        >https://github.com/acgnhiki/blrec/issues</a
      ></span
    >
  </li>
  <li class="info-item">
    <span class="label">许可协议</span
    ><span class="desc"
      ><a href="https://choosealicense.com/licenses/gpl-3.0" target="_blank"
        >GNU GPLv3</a
      ></span
    >
  </li>
  <li class="info-item">
    <span class="label">联系方式</span
    ><span class="desc"
      ><a href="mailto:acgnhiki@outlook.com" target="_blank"
        >acgnhiki@outlook.com</a
      ></span
    >
  </li>
  <li class="info-item">
    <span class="label">投喂赞助</span
    ><span class="desc"
      ><a href="https://afdian.net/@acgnhiki" target="_blank"
        >https://afdian.net/@acgnhiki</a
      ></span
    >
  </li>
</ul>
