<nz-modal
  nzTitle="任务设置"
  nzCentered
  [nzVisible]="visible"
  [nzOkDisabled]="ngForm?.form?.invalid"
  (nzOnOk)="handleConfirm()"
  (nzOnCancel)="handleCancel()"
  (nzAfterOpen)="afterOpen.emit()"
  (nzAfterClose)="afterClose.emit()"
>
  <ng-container *nzModalContent>
    <form nz-form ngForm>
      <div ngModelGroup="output" class="form-group output">
        <h2>文件</h2>
        <nz-form-item class="setting-item input">
          <nz-form-label
            class="setting-label"
            nzNoColon
            nzTooltipTitle="变量说明请查看对应全局设置"
            >路径模板</nz-form-label
          >
          <nz-form-control
            class="setting-control input"
            [nzErrorTip]="errorTip"
          >
            <input
              type="text"
              required
              [pattern]="pathTemplatePattern"
              nz-input
              name="pathTemplate"
              [(ngModel)]="model.output.pathTemplate"
              [disabled]="options.output.pathTemplate === null"
            />
            <ng-template #errorTip let-control>
              <ng-container *ngIf="control.hasError('required')">
                请输入路径模板
              </ng-container>
              <ng-container *ngIf="control.hasError('pattern')">
                路径模板有错误
              </ng-container>
            </ng-template>
          </nz-form-control>
          <label
            nz-checkbox
            [nzChecked]="options.output.pathTemplate !== null"
            (nzCheckedChange)="
              options.output.pathTemplate = $event
                ? globalSettings.output.pathTemplate
                : null
            "
            >覆盖全局设置</label
          >
        </nz-form-item>
        <nz-form-item class="setting-item">
          <nz-form-label
            class="setting-label"
            nzNoColon
            [nzTooltipTitle]="splitFileTip"
            >大小限制</nz-form-label
          >
          <nz-form-control class="setting-control select">
            <nz-select
              name="filesizeLimit"
              [(ngModel)]="model.output.filesizeLimit"
              [disabled]="options.output.filesizeLimit === null"
              [nzOptions]="filesizeLimitOptions"
            >
            </nz-select>
          </nz-form-control>
          <label
            nz-checkbox
            [nzChecked]="options.output.filesizeLimit !== null"
            (nzCheckedChange)="
              options.output.filesizeLimit = $event
                ? globalSettings.output.filesizeLimit
                : null
            "
            >覆盖全局设置</label
          >
        </nz-form-item>
        <nz-form-item class="setting-item">
          <nz-form-label
            class="setting-label"
            nzNoColon
            [nzTooltipTitle]="splitFileTip"
            >时长限制</nz-form-label
          >
          <nz-form-control class="setting-control select">
            <nz-select
              name="durationLimit"
              [(ngModel)]="model.output.durationLimit"
              [disabled]="options.output.durationLimit === null"
              [nzOptions]="durationLimitOptions"
            >
            </nz-select>
          </nz-form-control>
          <label
            nz-checkbox
            [nzChecked]="options.output.durationLimit !== null"
            (nzCheckedChange)="
              options.output.durationLimit = $event
                ? globalSettings.output.durationLimit
                : null
            "
            >覆盖全局设置</label
          >
        </nz-form-item>
      </div>

      <div ngModelGroup="recorder" class="form-group recorder">
        <h2>录制</h2>
        <nz-form-item class="setting-item">
          <nz-form-label
            class="setting-label"
            nzNoColon
            [nzTooltipTitle]="streamFormatTip"
            >直播流格式</nz-form-label
          >
          <ng-template #streamFormatTip>
            <p>
              选择要录制的直播流格式<br />
              <br />
              FLV 网络不稳定容易中断丢失数据 <br />
              HLS (ts) 基本不受本地网络影响 <br />
              HLS (fmp4) 只有少数直播间支持 <br />
              <br />
              P.S.<br />
              非 FLV 格式需要 ffmpeg<br />
              HLS (fmp4) 不支持会自动切换到 HLS (ts)<br />
            </p>
          </ng-template>
          <nz-form-control class="setting-control select">
            <nz-select
              name="streamFormat"
              [(ngModel)]="model.recorder.streamFormat"
              [disabled]="options.recorder.streamFormat === null"
              [nzOptions]="streamFormatOptions"
            >
            </nz-select>
          </nz-form-control>
          <label
            nz-checkbox
            [nzChecked]="options.recorder.streamFormat !== null"
            (nzCheckedChange)="
              options.recorder.streamFormat = $event
                ? globalSettings.recorder.streamFormat
                : null
            "
            >覆盖全局设置</label
          >
        </nz-form-item>
        <nz-form-item class="setting-item">
          <nz-form-label
            class="setting-label"
            nzNoColon
            nzTooltipTitle="所选画质不存在将以原画代替"
            >画质</nz-form-label
          >
          <nz-form-control class="setting-control select">
            <nz-select
              name="qualityNumber"
              [(ngModel)]="model.recorder.qualityNumber"
              [disabled]="options.recorder.qualityNumber === null"
              [nzOptions]="qualityOptions"
            >
            </nz-select>
          </nz-form-control>
          <label
            nz-checkbox
            [nzChecked]="options.recorder.qualityNumber !== null"
            (nzCheckedChange)="
              options.recorder.qualityNumber = $event
                ? globalSettings.recorder.qualityNumber
                : null
            "
            >覆盖全局设置</label
          >
        </nz-form-item>
        <nz-form-item class="setting-item">
          <nz-form-label
            class="setting-label"
            nzNoColon
            nzTooltipTitle="录播文件完成时保存当前直播间的封面"
            >保存封面</nz-form-label
          >
          <nz-form-control class="setting-control switch">
            <nz-switch
              name="saveCover"
              [(ngModel)]="model.recorder.saveCover"
              [disabled]="options.recorder.saveCover === null"
            ></nz-switch>
          </nz-form-control>
          <label
            nz-checkbox
            [nzChecked]="options.recorder.saveCover !== null"
            (nzCheckedChange)="
              options.recorder.saveCover = $event
                ? globalSettings.recorder.saveCover
                : null
            "
            >覆盖全局设置</label
          >
        </nz-form-item>
        <nz-form-item class="setting-item">
          <nz-form-label
            class="setting-label"
            nzNoColon
            nzTooltipTitle="超时时间设置得比较长相对不容易因网络不稳定而出现流中断，但是一旦出现中断就无法实现无缝拼接且漏录较多。"
            >数据读取超时</nz-form-label
          >
          <nz-form-control
            class="setting-control select"
            nzWarningTip="无缝拼接会失效！"
            [nzValidateStatus]="readTimeout.value > 3 ? 'warning' : readTimeout"
          >
            <nz-select
              #readTimeout="ngModel"
              name="readTimeout"
              [(ngModel)]="model.recorder.readTimeout"
              [disabled]="options.recorder.readTimeout === null"
              [nzOptions]="timeoutOptions"
            >
            </nz-select>
          </nz-form-control>
          <label
            nz-checkbox
            [nzChecked]="options.recorder.readTimeout !== null"
            (nzCheckedChange)="
              options.recorder.readTimeout = $event
                ? globalSettings.recorder.readTimeout
                : null
            "
            >覆盖全局设置</label
          >
        </nz-form-item>
        <nz-form-item class="setting-item">
          <nz-form-label
            class="setting-label"
            nzNoColon
            nzTooltipTitle="断网超过等待时间就结束录制，如果网络恢复后仍未下播会自动重新开始录制。"
            >断网等待时间</nz-form-label
          >
          <nz-form-control class="setting-control select">
            <nz-select
              name="disconnectionTimeout"
              [(ngModel)]="model.recorder.disconnectionTimeout"
              [disabled]="options.recorder.disconnectionTimeout === null"
              [nzOptions]="disconnectionTimeoutOptions"
              [nzOptionOverflowSize]="6"
            >
            </nz-select>
          </nz-form-control>
          <label
            nz-checkbox
            [nzChecked]="options.recorder.bufferSize !== null"
            (nzCheckedChange)="
              options.recorder.bufferSize = $event
                ? globalSettings.recorder.bufferSize
                : null
            "
            >覆盖全局设置</label
          >
        </nz-form-item>
        <nz-form-item class="setting-item">
          <nz-form-label
            class="setting-label"
            nzNoColon
            nzTooltipTitle="硬盘写入缓冲设置得比较大可以减少对硬盘的写入，但需要占用更多的内存。"
            >硬盘写入缓冲</nz-form-label
          >
          <nz-form-control class="setting-control select">
            <nz-select
              name="bufferSize"
              [(ngModel)]="model.recorder.bufferSize"
              [disabled]="options.recorder.bufferSize === null"
              [nzOptions]="bufferOptions"
              [nzOptionOverflowSize]="6"
            >
            </nz-select>
          </nz-form-control>
          <label
            nz-checkbox
            [nzChecked]="options.recorder.bufferSize !== null"
            (nzCheckedChange)="
              options.recorder.bufferSize = $event
                ? globalSettings.recorder.bufferSize
                : null
            "
            >覆盖全局设置</label
          >
        </nz-form-item>
      </div>

      <div ngModelGroup="danmaku" class="form-group danmaku">
        <h2>弹幕</h2>
        <nz-form-item class="setting-item">
          <nz-form-label
            class="setting-label"
            nzFor="recordGiftSend"
            nzNoColon
            nzTooltipTitle="记录礼物信息到弹幕文件里"
            >记录礼物</nz-form-label
          >
          <nz-form-control class="setting-control switch">
            <nz-switch
              id="recordGiftSend"
              name="recordGiftSend"
              [(ngModel)]="model.danmaku.recordGiftSend"
              [disabled]="options.danmaku.recordGiftSend === null"
            ></nz-switch>
          </nz-form-control>
          <label
            nz-checkbox
            [nzChecked]="options.danmaku.recordGiftSend !== null"
            (nzCheckedChange)="
              options.danmaku.recordGiftSend = $event
                ? globalSettings.danmaku.recordGiftSend
                : null
            "
            >覆盖全局设置</label
          >
        </nz-form-item>
        <nz-form-item class="setting-item">
          <nz-form-label
            class="setting-label"
            nzFor="recordFreeGifts"
            nzNoColon
            nzTooltipTitle="记录免费礼物信息到弹幕文件里"
            >记录免费礼物</nz-form-label
          >
          <nz-form-control class="setting-control switch">
            <nz-switch
              id="recordFreeGifts"
              name="recordFreeGifts"
              [(ngModel)]="model.danmaku.recordFreeGifts"
              [disabled]="options.danmaku.recordFreeGifts === null"
            ></nz-switch>
          </nz-form-control>
          <label
            nz-checkbox
            [nzChecked]="options.danmaku.recordFreeGifts !== null"
            (nzCheckedChange)="
              options.danmaku.recordFreeGifts = $event
                ? globalSettings.danmaku.recordFreeGifts
                : null
            "
            >覆盖全局设置</label
          >
        </nz-form-item>
        <nz-form-item class="setting-item">
          <nz-form-label
            class="setting-label"
            nzFor="recordGuardBuy"
            nzNoColon
            nzTooltipTitle="记录上舰信息到弹幕文件里"
            >记录上舰</nz-form-label
          >
          <nz-form-control class="setting-control switch">
            <nz-switch
              id="recordGuardBuy"
              name="recordGuardBuy"
              [(ngModel)]="model.danmaku.recordGuardBuy"
              [disabled]="options.danmaku.recordGuardBuy === null"
            ></nz-switch>
          </nz-form-control>
          <label
            nz-checkbox
            [nzChecked]="options.danmaku.recordGuardBuy !== null"
            (nzCheckedChange)="
              options.danmaku.recordGuardBuy = $event
                ? globalSettings.danmaku.recordGuardBuy
                : null
            "
            >覆盖全局设置</label
          >
        </nz-form-item>
        <nz-form-item class="setting-item">
          <nz-form-label
            class="setting-label"
            nzFor="recordSuperChat"
            nzNoColon
            nzTooltipTitle="记录 Super Chat 信息到弹幕文件里"
            >记录 Super Chat</nz-form-label
          >
          <nz-form-control class="setting-control switch">
            <nz-switch
              id="recordSuperChat"
              name="recordSuperChat"
              [(ngModel)]="model.danmaku.recordSuperChat"
              [disabled]="options.danmaku.recordSuperChat === null"
            ></nz-switch>
          </nz-form-control>
          <label
            nz-checkbox
            [nzChecked]="options.danmaku.recordSuperChat !== null"
            (nzCheckedChange)="
              options.danmaku.recordSuperChat = $event
                ? globalSettings.danmaku.recordSuperChat
                : null
            "
            >覆盖全局设置</label
          >
        </nz-form-item>
        <nz-form-item class="setting-item">
          <nz-form-label
            class="setting-label"
            nzFor="danmuUname"
            nzNoColon
            nzTooltipTitle="发送者: 弹幕内容"
            >弹幕前加用户名</nz-form-label
          >
          <nz-form-control class="setting-control switch">
            <nz-switch
              id="danmuUname"
              name="danmuUname"
              [(ngModel)]="model.danmaku.danmuUname"
              [disabled]="options.danmaku.danmuUname === null"
            ></nz-switch>
          </nz-form-control>
          <label
            nz-checkbox
            [nzChecked]="options.danmaku.danmuUname !== null"
            (nzCheckedChange)="
              options.danmaku.danmuUname = $event
                ? globalSettings.danmaku.danmuUname
                : null
            "
            >覆盖全局设置</label
          >
        </nz-form-item>
        <nz-form-item class="setting-item">
          <nz-form-label
            class="setting-label"
            nzFor="saveRawDanmaku"
            nzNoColon
            nzTooltipTitle="保存原始弹幕到 JSON lines 文件，主要用于分析调试。"
            >保存原始弹幕</nz-form-label
          >
          <nz-form-control class="setting-control switch">
            <nz-switch
              id="saveRawDanmaku"
              name="saveRawDanmaku"
              [(ngModel)]="model.danmaku.saveRawDanmaku"
              [disabled]="options.danmaku.saveRawDanmaku === null"
            ></nz-switch>
          </nz-form-control>
          <label
            nz-checkbox
            [nzChecked]="options.danmaku.saveRawDanmaku !== null"
            (nzCheckedChange)="
              options.danmaku.saveRawDanmaku = $event
                ? globalSettings.danmaku.saveRawDanmaku
                : null
            "
            >覆盖全局设置</label
          >
        </nz-form-item>
      </div>

      <div ngModelGroup="postprocessing" class="form-group postprocessing">
        <h2>文件处理</h2>
        <nz-form-item class="setting-item">
          <nz-form-label
            class="setting-label"
            nzNoColon
            nzTooltipTitle="添加关键帧等元数据使定位播放和拖进度条不会卡顿"
            >flv 添加元数据</nz-form-label
          >
          <nz-form-control class="setting-control switch">
            <nz-switch
              name="injectExtraMetadata"
              [(ngModel)]="model.postprocessing.injectExtraMetadata"
              [disabled]="
                options.postprocessing.injectExtraMetadata === null ||
                !!options.postprocessing.remuxToMp4
              "
            ></nz-switch>
          </nz-form-control>
          <label
            nz-checkbox
            [nzChecked]="options.postprocessing.injectExtraMetadata !== null"
            (nzCheckedChange)="
              options.postprocessing.injectExtraMetadata = $event
                ? globalSettings.postprocessing.injectExtraMetadata
                : null
            "
            >覆盖全局设置</label
          >
        </nz-form-item>
        <nz-form-item class="setting-item">
          <nz-form-label
            class="setting-label"
            nzNoColon
            nzTooltipTitle="调用 ffmpeg 进行转换，需要安装 ffmpeg 。"
            >flv 转封装为 mp4</nz-form-label
          >
          <nz-form-control class="setting-control switch">
            <nz-switch
              name="remuxToMp4"
              [(ngModel)]="model.postprocessing.remuxToMp4"
              [disabled]="options.postprocessing.remuxToMp4 === null"
            ></nz-switch>
          </nz-form-control>
          <label
            nz-checkbox
            [nzChecked]="options.postprocessing.remuxToMp4 !== null"
            (nzCheckedChange)="
              options.postprocessing.remuxToMp4 = $event
                ? globalSettings.postprocessing.remuxToMp4
                : null
            "
            >覆盖全局设置</label
          >
        </nz-form-item>
        <nz-form-item class="setting-item">
          <nz-form-label
            class="setting-label"
            nzNoColon
            [nzTooltipTitle]="deleteSourceTip"
            >源文件删除策略</nz-form-label
          >
          <ng-template #deleteSourceTip>
            <p>
              自动: 没出错就删除源文件<br />
              谨慎: 没出错且没警告才删除源文件<br />
              从不: 总是保留源文件<br />
            </p>
          </ng-template>
          <nz-form-control class="setting-control select">
            <nz-select
              name="deleteSource"
              [(ngModel)]="model.postprocessing.deleteSource"
              [disabled]="
                options.postprocessing.deleteSource === null ||
                !options.postprocessing.remuxToMp4
              "
              [nzOptions]="deleteStrategies"
            ></nz-select>
          </nz-form-control>
          <label
            nz-checkbox
            [nzChecked]="options.postprocessing.deleteSource !== null"
            (nzCheckedChange)="
              options.postprocessing.deleteSource = $event
                ? globalSettings.postprocessing.deleteSource
                : null
            "
            >覆盖全局设置</label
          >
        </nz-form-item>
      </div>

      <div ngModelGroup="header" class="form-group header">
        <h2>网络请求</h2>
        <nz-form-item class="setting-item textarea">
          <nz-form-label class="setting-label" nzFor="userAgent" nzNoColon
            >User Agent</nz-form-label
          >
          <nz-form-control
            class="setting-control textarea"
            [nzWarningTip]="warningTip"
            [nzValidateStatus]="
              userAgent.valid &&
              options.header.userAgent !== taskOptions.header.userAgent &&
              options.header.userAgent !== globalSettings.header.userAgent
                ? 'warning'
                : userAgent
            "
            [nzErrorTip]="errorTip"
          >
            <textarea
              #userAgent="ngModel"
              nz-input
              required
              id="userAgent"
              name="userAgent"
              [rows]="3"
              [(ngModel)]="model.header.userAgent"
              [disabled]="options.header.userAgent === null"
            ></textarea>
          </nz-form-control>
          <ng-template #errorTip let-control>
            <ng-container *ngIf="control.hasError('required')">
              请输入 User Agent
            </ng-container>
          </ng-template>
          <label
            nz-checkbox
            [nzChecked]="options.header.userAgent !== null"
            (nzCheckedChange)="
              options.header.userAgent = $event
                ? globalSettings.header.userAgent
                : null
            "
            >覆盖全局设置</label
          >
        </nz-form-item>
        <nz-form-item class="setting-item textarea">
          <nz-form-label class="setting-label" nzFor="cookie" nzNoColon
            >Cookie</nz-form-label
          >
          <nz-form-control
            class="setting-control textarea"
            [nzWarningTip]="warningTip"
            [nzValidateStatus]="
              cookie.valid &&
              options.header.cookie !== taskOptions.header.cookie &&
              options.header.cookie !== globalSettings.header.cookie
                ? 'warning'
                : cookie
            "
          >
            <textarea
              #cookie="ngModel"
              nz-input
              id="cookie"
              name="cookie"
              [rows]="3"
              [(ngModel)]="model.header.cookie"
              [disabled]="options.header.cookie === null"
            ></textarea>
          </nz-form-control>
          <label
            nz-checkbox
            [nzChecked]="options.header.cookie !== null"
            (nzCheckedChange)="
              options.header.cookie = $event
                ? globalSettings.header.cookie
                : null
            "
            >覆盖全局设置</label
          >
        </nz-form-item>
      </div>
    </form>
  </ng-container>
</nz-modal>
