.status {
  &.recording {
    color: red;
  }

  &.injecting,
  &.remuxing {
    color: blue;
  }

  &.completed {
    color: green;
  }

  &.missing {
    color: grey;
  }

  &.broken {
    color: orange;
  }
}
